#main-footer {
    background: #343a40;
    color: #fff;
}

#page-header {
    height: 200;
    background: url('../assets/img/daegu.jpg');
    background-size : cover;
    background-position: 40% 210%;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px solid;
    padding-top: 30px;
}